@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;1,200;1,300;1,600&display=swap');
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

main {
  width: 100%;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px!important;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}
